<header >
   <a href="index.html"><img src="img/logo.png"></a>
   <nav>
    <input type="checkbox" id="navigation">
    <label for="navigation" title="Navigation öffnen">
      <div class="burgericon">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </label>
    <ul>
      <li><a href="index.html">Start</a></li>
      <li><a href="rezept-croissants.html">Rezept des Tages</a></li>
      <li><a href="kontakt.html">Kontakt</a></li>
      <li><a href="Impressum.html">Impressum</a></li>
      </ul>
  </nav>
</header>