<link rel="stylesheet" href="tamplates/rezeptbook.css">



<a href="rezept-basti.html"><div class="book">

    <div class="back"></div>
    <div class="page6"><img class="book-inside" src="img/rezeptbild-basti.jpg" alt=""></div>
    <div class="page5"><span class="text-spegeln"><b>Spaghetti<br>Bolognese</b></span></div>
    <div class="page4"></div>
    <div class="page3"></div>
    <div class="page2"></div>
    <div class="page1"></div>
    <div class="front"><p class="book-p"><i>Rezeptbuch</i></p><p class="book-p"><i>von</i></p><p class="book-p"><b>Basti</b></p><img class="book-img" src="img/basti.jpg" alt=""></div>

</div></a>
